nav{
  div{
    position: relative;
    height: fit-content;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    i{
      font-size: 48px;
      &#calendar, &#task{
        font-size: 45px;
      }
    }
  }
}