<main class="bg-secondary mh-100">
    <section id="section1" class="row d-flex align-items-center mb-0">
        <i class="bi bi bi-person-circle text-white col-2 mx-4"></i>
        <h3 class="text-white col-5">Profile</h3>
        <i class="bi bi-pencil-square text-white mx-4 col-2"></i>
    </section>
    <section id="section2" class="bg-white m-auto py-3">
        <div>
            <h4>Name</h4>
            <p>Sihao Cheng</p>
        </div>
        <div>
            <h4>Age</h4>
            <p>23</p>
        </div>
        <div>
            <h4>Ocupation</h4>
            <p>Student</p>
        </div>
        <div>
            <h4>Hobbies</h4>
            <div id="hobbies" class="text-center">
                <p>Student</p>
                <p>Student</p>
                <p>Student</p>
                <p>Student</p>
                <p>Student</p>
                <p>Student</p>
                <p>Student</p>
                <p>Student</p>
            </div>
        </div>
        <div>
            <h4>Life's motto</h4>
            <p>Go with the flow</p>
        </div>
    </section>
</main>

<app-nav-bar-boton></app-nav-bar-boton>
