main{
  width: 100%;
  height: 100%;
  font-family: "fangsong";

  #section1{
    width: 100%;
    height: 20vh;
    i{
      font-size: 30px;
    }
  }

  #section2{
    border-radius: 100px 0 0 0;

    #tareasTotales{

      #cantidadTareas{

      }
    }
  }
}




