<main class="bg-secondary mh-100">
    <section id="section1" class="row d-flex align-items-center justify-content-center mb-0">
        <i class="bi bi-caret-down col-1 text-white"></i>
        <h3 class="col-4 text-white">Today</h3>
        <div class="col-5 bg-white rounded-4 d-flex align-items-center justify-content-center">
            <p class="m-auto px-3 py-3 text-secondary">Thursday 21st, November</p>
        </div>
    </section>
    <section id="section2" class="bg-white py-3 px-3">
        <div id="tareasTotales" class="row py-4 d-flex justify-content-evenly align-items-center">
            <p id="cantidadTareas" class=" h3 mx-5 col-2 py-3 border-3 text-white bg-secondary text-center rounded-4">5</p>
            <p class="col-7 h5 text-black-50">Tareas pendientes:</p>
        </div>
        <div>
            <div id="allTareas" class="d-flex flex-column align-items-center justify-content-center">

            </div>
        </div>
    </section>

</main>
<app-nav-bar-boton></app-nav-bar-boton>
