main{
  width: 100%;
  height: 100%;
  font-family: "fangsong";
  overflow:auto;

  #section1{
    width: 100%;
    height: 20vh;
    i{
      font-size: 30px;
    }
  }

  #section2{
    border-radius: 100px 0 0 0;

    #allTareas{
      width: 100%;

      #cadaTarea{
        width: 85%;
        i{
          font-size: 35px;
        }
      }
    }

  }
}




